openapi: 3.2.0
info:
  title: Thumbtack Pro Pro Profiles API
  description: Supply-side ("Supply Partner") integration surface of the Thumbtack Partner Platform, letting business-workflow platforms manage a pro's Thumbtack leads and messages alongside their other customer communications. Launched 2021 with inaugural partner GoSite. Access is approval-gated - Thumbtack issues OAuth 2.0 credentials to accepted partners; there is no public self-serve signup. All paths, methods, and the OAuth 2.0 authorization-code flow below are transcribed from Thumbtack's published API reference at pro-api.thumbtack.com/docs and developers.thumbtack.com. Full request/response field schemas were not published in the sourced pages, so this document models confirmed operations at a summary level rather than fabricating complete schemas. This spec covers two directions - "Thumbtack endpoints" called by the partner, and "Partner endpoints" that Thumbtack calls at the partner's own domain (documented here as x-partner-implemented webhook-style operations for completeness).
  termsOfService: https://www.thumbtack.com/terms
  contact:
    name: Thumbtack Partner Platform
    url: https://developers.thumbtack.com/
  version: '2.0'
servers:
- url: https://pro-api.thumbtack.com
  description: Production
- url: https://staging-pro-api.thumbtack.com
  description: Staging
security:
- oauth2: []
tags:
- name: Pro Profiles
paths:
  /v2/get-thumbtack-info:
    get:
      operationId: getThumbtackInfo
      tags:
      - Pro Profiles
      summary: Retrieve Thumbtack account/profile info for the connected pro
      security:
      - oauth2: []
      responses:
        '200':
          description: Thumbtack account info
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThumbtackInfoResponse'
  /v2/disconnect-partner:
    post:
      operationId: disconnectPartner
      tags:
      - Pro Profiles
      summary: Disconnect a partner integration from a pro's Thumbtack account
      security:
      - basicAuth: []
      responses:
        '200':
          description: Partner disconnected
  /v3/accounts/{accountID}/services/{serviceID}/preferences/targeting:
    patch:
      operationId: updateServiceTargetingPreferences
      tags:
      - Pro Profiles
      summary: Update lead-targeting preferences for a pro's service
      security:
      - oauth2: []
      parameters:
      - name: accountID
        in: path
        required: true
        schema:
          type: string
      - name: serviceID
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TargetingPreferencesRequest'
      responses:
        '200':
          description: Targeting preferences updated
  /v3/accounts/{accountID}/services/{serviceID}/categories/{categoryID}/preferences/targeting:
    patch:
      operationId: updateCategoryTargetingPreferences
      tags:
      - Pro Profiles
      summary: Update lead-targeting preferences for a pro's service category
      security:
      - oauth2: []
      parameters:
      - name: accountID
        in: path
        required: true
        schema:
          type: string
      - name: serviceID
        in: path
        required: true
        schema:
          type: string
      - name: categoryID
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TargetingPreferencesRequest'
      responses:
        '200':
          description: Category targeting preferences updated
components:
  schemas:
    ThumbtackInfoResponse:
      type: object
      description: Schema summarized; full field list not published in sourced docs.
      properties:
        business_id:
          type: string
    TargetingPreferencesRequest:
      type: object
      description: Schema summarized; full field list not published in sourced docs.
      properties:
        enabled:
          type: boolean
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: Used by legacy v1/v2 routes such as disconnect-partner and test utilities.
    oauth2:
      type: oauth2
      description: Bearer token obtained via the partner-connect authorization code flow.
      flows:
        authorizationCode:
          authorizationUrl: https://www.thumbtack.com/services/partner-connect/
          tokenUrl: https://pro-api.thumbtack.com/v2/tokens/access
          scopes: {}
externalDocs:
  description: Thumbtack Pro API reference
  url: https://pro-api.thumbtack.com/docs/
