openapi: 3.2.0
info:
  title: Thumbtack Demand Pros API
  description: Marketplace ("Demand Partner") integration surface of the Thumbtack Partner Platform, for helping customers find pros, explore service categories, and submit project requests.
  termsOfService: https://www.thumbtack.com/terms
  contact:
    name: Thumbtack Partner Platform
    url: https://developers.thumbtack.com/
  version: 4.0.0-draft
servers:
- url: https://api.thumbtack.com
  description: Production
- url: https://staging-api.thumbtack.com
  description: Staging
security:
- basicAuth: []
- oauth2: []
tags:
- name: Pros
paths:
  /v2/pros:
    get:
      operationId: getPros
      tags:
      - Pros
      summary: Fetch professionals by zip code, category, or category ID
      security:
      - basicAuth: []
      parameters:
      - name: zip_code
        in: query
        schema:
          type: string
      - name: category
        in: query
        schema:
          type: string
      - name: category_id
        in: query
        schema:
          type: string
      responses:
        '200':
          description: List of matching pros
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProsResponse'
  /v2/filtered-pros:
    post:
      operationId: getFilteredPros
      tags:
      - Pros
      summary: Get filtered professionals using a user query and project metadata
      security:
      - basicAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FilteredProsRequest'
      responses:
        '200':
          description: Filtered list of matching pros
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProsResponse'
components:
  schemas:
    ProsResponse:
      type: object
      description: Schema summarized; full field list not published in sourced docs.
      properties:
        pros:
          type: array
          items:
            type: object
    FilteredProsRequest:
      type: object
      description: Schema summarized; full field list not published in sourced docs.
      properties:
        query:
          type: string
        project_metadata:
          type: object
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: Used by legacy v1/v2 routes.
    oauth2:
      type: oauth2
      description: Used by v4 routes. Authorization Code and Client Credentials flows.
      flows:
        authorizationCode:
          authorizationUrl: https://www.thumbtack.com/services/partner-connect/
          tokenUrl: https://api.thumbtack.com/v4/oauth/token
          scopes: {}
        clientCredentials:
          tokenUrl: https://api.thumbtack.com/v4/oauth/token
          scopes: {}
externalDocs:
  description: Thumbtack Demand API reference
  url: https://api.thumbtack.com/docs/demand_api.html
