openapi: 3.0.1
info:
  title: Thumbtack Demand Authentication Leads API
  description: 'Marketplace ("Demand Partner") integration surface of the Thumbtack Partner Platform, for helping customers find pros, explore service categories, and submit project requests. Access is approval-gated - Thumbtack issues credentials to accepted partners; there is no public self-serve signup. Paths and methods below are transcribed from Thumbtack''s published API reference at api.thumbtack.com/docs and developers.thumbtack.com. Full request/response field schemas were not published in the sourced pages, so this document models confirmed operations at a summary level rather than fabricating complete schemas. Autocomplete, Pros, and Categories paths are verbatim-confirmed from the source reference. Orders paths are honestly modeled (x-endpointsModeled: true) from the reference''s prose description of "order management endpoints for on-demand services (create, update, cancel, retrieve status)", which did not itself publish exact path strings.'
  termsOfService: https://www.thumbtack.com/terms
  contact:
    name: Thumbtack Partner Platform
    url: https://developers.thumbtack.com/
  version: 4.0.0-draft
servers:
- url: https://api.thumbtack.com
  description: Production
- url: https://staging-api.thumbtack.com
  description: Staging
security:
- basicAuth: []
- oauth2: []
tags:
- name: Leads
paths:
  /v1/lead:
    post:
      operationId: receiveLead
      tags:
      - Leads
      summary: (Partner-implemented) Receive a new lead notification from Thumbtack
      x-partner-implemented: true
      x-endpointsModeled: true
      description: Implemented by the partner at the partner's own domain. Thumbtack POSTs new-lead notifications to this endpoint. Path shown is the documented relative path; the partner's base URL is registered with Thumbtack during onboarding.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LeadWebhookPayload'
      responses:
        '200':
          description: Lead accepted
  /v1/lead/update:
    put:
      operationId: receiveLeadUpdate
      tags:
      - Leads
      summary: (Partner-implemented) Receive a lead status update from Thumbtack
      x-partner-implemented: true
      x-endpointsModeled: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LeadUpdateWebhookPayload'
      responses:
        '200':
          description: Lead update accepted
components:
  schemas:
    LeadWebhookPayload:
      type: object
      description: Schema summarized; full field list not published in sourced docs.
      properties:
        lead_id:
          type: string
        business_id:
          type: string
    LeadUpdateWebhookPayload:
      type: object
      description: Schema summarized; full field list not published in sourced docs.
      properties:
        lead_id:
          type: string
        status:
          type: string
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: Used by legacy v1/v2 routes.
    oauth2:
      type: oauth2
      description: Used by v4 routes. Authorization Code and Client Credentials flows.
      flows:
        authorizationCode:
          authorizationUrl: https://www.thumbtack.com/services/partner-connect/
          tokenUrl: https://api.thumbtack.com/v4/oauth/token
          scopes: {}
        clientCredentials:
          tokenUrl: https://api.thumbtack.com/v4/oauth/token
          scopes: {}
externalDocs:
  description: Thumbtack Demand API reference
  url: https://api.thumbtack.com/docs/demand_api.html
