openapi: 3.2.0
info:
  title: Thumbtack Pro Messages API
  description: Supply-side ("Supply Partner") integration surface of the Thumbtack Partner Platform, letting business-workflow platforms manage a pro's Thumbtack leads and messages alongside their other customer communications. Launched 2021 with inaugural partner GoSite. Access is approval-gated - Thumbtack issues OAuth 2.0 credentials to accepted partners; there is no public self-serve signup. All paths, methods, and the OAuth 2.0 authorization-code flow below are transcribed from Thumbtack's published API reference at pro-api.thumbtack.com/docs and developers.thumbtack.com. Full request/response field schemas were not published in the sourced pages, so this document models confirmed operations at a summary level rather than fabricating complete schemas. This spec covers two directions - "Thumbtack endpoints" called by the partner, and "Partner endpoints" that Thumbtack calls at the partner's own domain (documented here as x-partner-implemented webhook-style operations for completeness).
  termsOfService: https://www.thumbtack.com/terms
  contact:
    name: Thumbtack Partner Platform
    url: https://developers.thumbtack.com/
  version: '2.0'
servers:
- url: https://pro-api.thumbtack.com
  description: Production
- url: https://staging-pro-api.thumbtack.com
  description: Staging
security:
- oauth2: []
tags:
- name: Messages
paths:
  /v2/business/{businessID}/lead/{leadID}/message:
    post:
      operationId: sendLeadMessage
      tags:
      - Messages
      summary: Send a message to a customer within a lead's conversation
      security:
      - oauth2: []
      parameters:
      - name: businessID
        in: path
        required: true
        schema:
          type: string
      - name: leadID
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MessageRequest'
      responses:
        '200':
          description: Message sent
  /v1/message:
    post:
      operationId: receiveMessage
      tags:
      - Messages
      summary: (Partner-implemented) Receive a new message notification from Thumbtack
      x-partner-implemented: true
      x-endpointsModeled: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MessageWebhookPayload'
      responses:
        '200':
          description: Message accepted
components:
  schemas:
    MessageWebhookPayload:
      type: object
      description: Schema summarized; full field list not published in sourced docs.
      properties:
        lead_id:
          type: string
        text:
          type: string
    MessageRequest:
      type: object
      description: Schema summarized; full field list not published in sourced docs.
      properties:
        text:
          type: string
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: Used by legacy v1/v2 routes such as disconnect-partner and test utilities.
    oauth2:
      type: oauth2
      description: Bearer token obtained via the partner-connect authorization code flow.
      flows:
        authorizationCode:
          authorizationUrl: https://www.thumbtack.com/services/partner-connect/
          tokenUrl: https://pro-api.thumbtack.com/v2/tokens/access
          scopes: {}
externalDocs:
  description: Thumbtack Pro API reference
  url: https://pro-api.thumbtack.com/docs/
