openapi: 3.2.0
info:
  title: Thumbtack Pro Authentication API
  description: Supply-side ("Supply Partner") integration surface of the Thumbtack Partner Platform, letting business-workflow platforms manage a pro's Thumbtack leads and messages alongside their other customer communications. Launched 2021 with inaugural partner GoSite. Access is approval-gated - Thumbtack issues OAuth 2.0 credentials to accepted partners; there is no public self-serve signup. All paths, methods, and the OAuth 2.0 authorization-code flow below are transcribed from Thumbtack's published API reference at pro-api.thumbtack.com/docs and developers.thumbtack.com. Full request/response field schemas were not published in the sourced pages, so this document models confirmed operations at a summary level rather than fabricating complete schemas. This spec covers two directions - "Thumbtack endpoints" called by the partner, and "Partner endpoints" that Thumbtack calls at the partner's own domain (documented here as x-partner-implemented webhook-style operations for completeness).
  termsOfService: https://www.thumbtack.com/terms
  contact:
    name: Thumbtack Partner Platform
    url: https://developers.thumbtack.com/
  version: '2.0'
servers:
- url: https://pro-api.thumbtack.com
  description: Production
- url: https://staging-pro-api.thumbtack.com
  description: Staging
security:
- oauth2: []
tags:
- name: Authentication
paths:
  /v2/tokens/access:
    post:
      operationId: exchangeToken
      tags:
      - Authentication
      summary: Exchange an authorization code or refresh token for an access token
      security: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                grant_type:
                  type: string
                  enum:
                  - authorization_code
                  - refresh_token
                code:
                  type: string
                refresh_token:
                  type: string
                client_id:
                  type: string
                client_secret:
                  type: string
      responses:
        '200':
          description: Access token issued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
components:
  schemas:
    TokenResponse:
      type: object
      description: Schema summarized; full field list not published in sourced docs.
      properties:
        access_token:
          type: string
        refresh_token:
          type: string
        expires_in:
          type: integer
        token_type:
          type: string
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: Used by legacy v1/v2 routes such as disconnect-partner and test utilities.
    oauth2:
      type: oauth2
      description: Bearer token obtained via the partner-connect authorization code flow.
      flows:
        authorizationCode:
          authorizationUrl: https://www.thumbtack.com/services/partner-connect/
          tokenUrl: https://pro-api.thumbtack.com/v2/tokens/access
          scopes: {}
externalDocs:
  description: Thumbtack Pro API reference
  url: https://pro-api.thumbtack.com/docs/
